.pokemon-card-box {
	cursor: pointer;
}

.pokemon-card-chip {
	padding: 0 24px !important;
	margin-bottom: 12px;
}

.pokemon-card-content {
	padding-top: 0 !important;
}

.pokemon-card {
	width: 150px;
	min-height: 295px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
